@use "header";
@use "footer";


* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    letter-spacing: 1.2px;
    line-height: 25px;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px;


    article {
        margin-top: 40px;
    }

    #profile_pic {
        text-align: center;
        margin-top: 70px;
    }

    #profile_pic>img {
        width: 80%;

    }

    #details img {
        width: 80px;
        margin-top: 10px;
    }

    #details>div {
        margin-top: 20px;
    }

    #profile h1 {
        font-size: 50px;
    }

    #profile p {
        margin-top: 20px;
    }
}

@media only screen and (min-width:575px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(575px, 1fr));

        #profile_pic {
            text-align: start;
        }

        #profile_pic>img {
            width: 65%;
            max-width: 400px;
        }

        p {
            width: 90%;
        }

        #about_me p {
            max-width: 70%;
        }
    }
}

@media only screen and (min-width:1100px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 40px;
        padding: 100px;

        p {
            max-width: 80%;
        }

        #profile {
            display: grid;
            text-align: center;
            grid-column: span 3;
            justify-items: center;
            align-items: center;

        }

        #profile p {
            margin-top: 15px;
        }

        #profile_pic {
            text-align: center;
        }

        #details {
            margin-left: 50px;
        }

        #about_me p {
            max-width: 400px;
            margin-top: 15px;
        }
    }
}